@model EShop.Areas.Login.Models.RegisterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="form-horizontal">
        @using (Html.BeginForm("Edit","UserProfile",FormMethod.Post, new {})) { 
            @Html.Hidden(Model.Name)
            <div class="form-group justify-content-center row">
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group justify-content-center row">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group justify-content-center row">
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Password, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group justify-content-center row">
                @Html.LabelFor(m => m.PasswordConfirm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group justify-content-center row">
                @Html.LabelFor(m => m.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-5">
                    @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="row justify-content-center">
                <input type="submit" value="Редактировать" class="btn btn-default"/>
            </div>
        }
    </div>
</div>
