@using EShop.Domain.Entities

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>EShop</title>
    <style>
        body {
            padding-bottom: 120px;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand offset-1" href="~/Goods/List">EShop</a>
        @Html.ActionLink("Корзина", "Index", "Cart", new { Area = string.Empty, returnUrl = Request.Url.PathAndQuery }, new{@class="navbar-brand offset-3"})
        @Html.ActionLink("Сравнить", "Compare", "GoodsComparator", new { Area = string.Empty, returnUrl = Request.Url.PathAndQuery }, new { @class = "navbar-brand" })
        @if (Context.User.IsInRole("Admin")||Context.User.IsInRole("Moderator"))
        {
            @Html.ActionLink("В админку", "Index", "AdminUsers", new {Area = "Administration"}, new { @class = "navbar-brand" });
        }
        @RenderPage("_PartialLogin.cshtml")     
    </nav>
</div>
<div>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</div>
<footer class="fixed-bottom bg-faded">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li>@Html.ActionLink("Обратная связь", "Index", "Feedback")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © @DateTime.Now.Year Nikita Samoilenko NNN
        </div>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>