@using EShop.Domain.Entities
@model List<Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <table class="table table-bordered">
        <theader>
            <tr>
                <th>Пользователь</th>
                <th>Дата</th>
                <th>Отзыв</th>
                <th>Товар</th>
                <th></th>
                <th></th>
            </tr>
        </theader>
        <tbody>
            @foreach (Review review in Model)
            {
                <tr>
                    @using (Html.BeginForm("DeleteReview", "AdminReview", FormMethod.Post))
                    {
                        <td>@Html.DisplayFor(r => review.Author)</td>
                        <td>@Html.DisplayFor(r => review.DateTime)</td>
                        <td> @Html.DisplayFor(r => review.Text)</td>
                        <td>@Html.DisplayFor(r => review.Goods.Name)</td>
                        <input type="hidden" name="id" value="@review.Id" />
                        <td><input type="submit" value="Удалить отзыв" /></td>
                    }
                    @using (Html.BeginForm("Reply", "AdminReview", FormMethod.Post))
                    {
                        <input type="hidden" name="userName" value="@review.Author" />
                        <td><input type="submit" value="Ответить" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
