@using EShop.Domain.Entities
@using EShop.Models
@model IEnumerable<EShop.Models.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-striped" style="margin-top: 40px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment)
            </th>
            <th>
                @Html.DisplayName("Total coast")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (OrderViewModel item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @foreach (var cartLine in item.OrderCart)
                {
                    <p>@Html.DisplayFor(modelItem => cartLine.Goods.Name)<text> x </text>@Html.DisplayFor(c => cartLine.Quantity)<text>;</text></p>
                }
            </td>
            <td>
                Address: @item.Shipment.Country, @item.Shipment.City, @item.Shipment.Address <br/>
                Reciver: @item.Shipment.Reciver <br />
                ZIP: @item.Shipment.ZIP
            </td>
            <td>
                @{ var cart = new Cart(item.OrderCart).ComputeTotalValue();}
                @Html.DisplayFor(c => cart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.Name)
            </td>
            <td>
                @using (Html.BeginForm("Delete","UserOrder", FormMethod.Post))
                {
                    @Html.Hidden("Id", item.OrderId)
                    <input type="submit" value="Delete" class="btn-primary"/>
                }
            </td>
        </tr>
    </tbody>
                    }

</table>
